language: python
sudo: false

cache:
  apt: true
  directories:
  - $HOME/.cache/pip
  - $HOME/download
python:
  - "3.6"
before_install:
  - pip install pip -U
  - pip install --progress-bar off xdoctest -U
  - python -c "from xdoctest import docstr; print(docstr)"
  - pip install --progress-bar off torch pyqt5 opencv-python
  - pip install --progress-bar off pytest pytest-cov codecov
  - pip install --progress-bar off ubelt progiter -U
  - pip install --progress-bar off imgaug
  #- pip install --progress-bar off -e git+https://github.com/aleju/imgaug.git@master#egg=imgaug
  - pip install --progress-bar off -r requirements.txt 
install:
  #- travis_retry python setup.py build develop
  - travis_retry pip install -e .
script: 
  #- travis_wait ./run_tests.py
  #- travis_wait python run_tests.py
  - travis_wait pytest -p no:doctest --cov-config .coveragerc --cov-report html --xdoctest --cov=netharn 
after_success: 
  #- coveralls || echo "Coveralls upload failed"
  - codecov 
#after_failure: 
#  - cat failed_doctests.txt
cache: 
    apt: true
    directories:
        - $HOME/.pip-cache
