Cython
cffi
psutil

ubelt
xdoctest

pygtrie
numpy

sortedcontainers
tqdm
h5py
bayesian-optimization
torchvision
pandas
tensorboard_logger
parse
sympy
Pillow
matplotlib
six
protobuf

pytest
pytest-cov
coverage >= 4.3.4
tqdm

xxhash

opencv-python
pyqt5

# imgaug
-e git+https://github.com/aleju/imgaug.git@master#egg=imgaug


# line_profiler
# scipy
# scikit-image

# onnx
# tensorboard
