# For C Extensions
# ================
# not sure if this works on windows
Cython >= 0.28.4
cffi >= 1.11.5


# Misc
# ====
easydict >= 1.7
psutil >= 5.4.6
six >= 1.11.0


# Testing
# =======
# testing comes first
xdoctest >= 0.5.7
pytest >= 3.6.3
pytest-cov >= 2.5.1
coverage >= 4.3.4


# Core 
# ====
# These are absolutely required
torch >= 0.4.0
numpy >= 1.14.5
ubelt >= 0.5.0
progiter >= 0.0.2
parse >= 1.8.4
packaging >= 17.1
pyflakes >= 1.6.0


# Optional(ish)
# =============
# With a little work they might actually be optional

tqdm >= 4.23.4
pandas >= 0.23.3
Pillow >= 5.2.0
opencv-python >= 3.4.1
torchvision >= 0.2.1
pyqt5>= 5.11.2;python_version>'2.7'  # 
matplotlib >= 2.2.2
h5py >= 2.8.0
imgaug >= 0.2.6
pygtrie >= 2.2
protobuf >= 3.6.0
tensorboard_logger >= 0.1.0  # actually optional
scikit-learn >= 0.19.1


# Other
# =====
# I like these packages, but I'm not using them

# sympy
# xxhash
# bayesian-optimization
# line_profiler
# scipy
# scikit-image
# onnx
# sortedcontainers
# tensorboard >= 1.8.0
